
@plugin "daisyui";

:root {
  --brand-gradient: linear-gradient(
    95deg,
    #ff542f,
    #ef3f67,
    #b526d4
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}